@import 'variables';
@import 'mixins';

.navbar {
    background-color: $color_fondo_header;
    .container-fluid {

        .navbar-brand {
            font-size: 1.4em;
            margin-left: 15px;
            color: $color_letras_header;
        }
    
        .navbar-nav {
            margin-right: 20px;

            .nav-link {
                padding: 15px; 
                color: $color_letras_header;   
            }

            .nav-link:hover {
                background-color: $hover_letras_header;
            }   
        }

        .dropdown-menu {
            background-color: $color_fondo_header;
            border: none;

            .dropdown-item {
                color: $color_letras_header;
                margin-bottom: 10px;
            }

            .dropdown-item:hover {
                background-color: $hover_letras_header;
            }
            
        }
        
    }   
}