@import 'variables';
@import 'mixins';
 
.card-img-top {
    object-fit: cover;
    max-height: 250px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btn {
        border: none;
        font-weight: 500;
        @include style_button(5px, $color_letras_header, #5b9afa)
    }
}

.rec-lleg {
    background-color: rgb(245,245,245);
}



