@import 'variables';
@import 'mixins';

.shop {
    background-color: $color_fondo_secciones;
    padding: 40px 0;
    .productos {

        .card {

            .card-img-top {
                object-fit: cover;
                max-height: 220px;
            }
            
            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                .btn {
                    border: none;
                    font-size: 0.8em;
                    font-weight: 500;
                    @include style_button(5px, $color_letras_header, #5b9afa)
                }
                .btn:hover {
                    background-color: $hover_btn;
                }
            }
            
        }
    }
}