$color_fondo_header: #121212;
$color_letras_header:  #ffffff;
$hover_letras_header: #252525;
$color_acento: #7fb3ff;
$hover_btn : #4b8ef3;
$color_fondo_secciones: rgb(245,245,245);
$fondo_titulo_shop: #3a3a3a;