.navbar {
  background-color: #121212;
}
.navbar .container-fluid .nav-item .dropdown-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.navbar .container-fluid .nav-item:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
}
.navbar .container-fluid .navbar-brand {
  font-size: 1.4em;
  margin-left: 15px;
  color: #ffffff;
}
.navbar .container-fluid .navbar-nav {
  margin-right: 20px;
}
.navbar .container-fluid .navbar-nav .nav-link {
  padding: 15px;
  color: #ffffff;
}
.navbar .container-fluid .navbar-nav .nav-link:hover {
  background-color: #252525;
}
.navbar .container-fluid .dropdown-menu {
  background-color: #121212;
  border: none;
}
.navbar .container-fluid .dropdown-menu .dropdown-item {
  color: #ffffff;
  margin-bottom: 10px;
}
.navbar .container-fluid .dropdown-menu .dropdown-item:hover {
  background-color: #252525;
}
.navbar .container-fluid .buscador .btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 4px 10px;
  height: 37px;
  font-size: 14px;
}

#hero .c-item {
  height: 550px;
  width: 100%;
}
#hero .c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
#hero .carousel-caption h1 {
  margin-top: 100px;
}
#hero .carousel-caption .btn {
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  background-color: #7fb3ff;
}
#hero .carousel-caption .btn:hover {
  background-color: #4b8ef3;
}

.recien-llegados {
  background-color: rgb(245, 245, 245);
  padding: 40px 0;
}
.recien-llegados .container .card-img-top {
  object-fit: cover;
  max-height: 220px;
}
.recien-llegados .container .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.recien-llegados .container .card-body .btn {
  border: none;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5b9afa;
}
.recien-llegados .container .card-body .btn:hover {
  background-color: #4b8ef3;
}
.recien-llegados .container .rec-lleg {
  background-color: rgb(245, 245, 245);
}

.collecciones .colleccion {
  min-height: 600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collecciones .colleccion .btn {
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  background-color: #7fb3ff;
}
.collecciones .colleccion .btn:hover {
  background-color: #4b8ef3;
}
.collecciones .colleccion h1 {
  font-size: 3em;
  font-weight: bold;
}
.collecciones .colleccion:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) url(../images/coleccion1.png);
}
.collecciones .colleccion:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) url(../images/coleccion2.jpg);
}
.collecciones .colleccion:last-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) url(../images/coleccion3.png);
}

.sec-info {
  width: 100%;
  padding: 40px 0;
  background-color: rgb(245, 245, 245);
}
.sec-info .info .informacion {
  margin-top: 30px;
}
.sec-info .info .informacion img {
  width: 100px;
}
.sec-info .info .informacion p {
  font-weight: bold;
}

.footer {
  background-color: #121212;
  color: #ffffff;
}
.footer .fila1 .col-footer1 img {
  width: 43px;
}
.footer .fila1 .col-footer2 h4 {
  font-size: 1.6em;
  margin-bottom: 10px;
}
.footer .fila1 .col-footer2 .img-footer2 a {
  text-decoration: none;
}
.footer .fila1 .col-footer2 .img-footer2 a img {
  margin-left: 5px;
  width: 40px;
}
.footer .fila1 .col-footer2 .img-footer2 :nth-child(2) img {
  width: 34px;
}
.footer .fila2 {
  background-color: black;
}

.titulo {
  background-color: #3a3a3a;
}
.titulo h1 {
  font-size: 2em;
  padding: 25px;
  color: #ffffff;
  margin-left: 50px;
  margin-bottom: 0;
}

.shop {
  background-color: rgb(245, 245, 245);
  padding: 40px 0;
}
.shop .productos .card .card-img-top {
  object-fit: cover;
  max-height: 220px;
}
.shop .productos .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.shop .productos .card .card-body .btn {
  border: none;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5b9afa;
}
.shop .productos .card .card-body .btn:hover {
  background-color: #4b8ef3;
}

.shop .filtros h4 {
  font-size: 1em;
  font-weight: bold;
}
.shop .filtros .precios {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}
.shop .filtros .form-check {
  margin-bottom: 15px;
}
.shop .filtros .form-check .form-check-label {
  font-size: 1em;
}
.shop .filtros .btn {
  border: none;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5b9afa;
}
.shop .filtros .btn:hover {
  background-color: #4b8ef3;
}
.nosotros .historia {
  background-color: rgb(245, 245, 245);
  padding: 100px 0;
}
.nosotros .historia img {
  width: 500px;
}
.nosotros .historia .texto {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nosotros .historia .texto h2 {
  font-weight: bold;
  font-size: 2.1em;
}
.nosotros .historia .texto p {
  font-size: 1.1em;
}

.nosotros .equipo {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) url(../images/equipo.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotros .equipo h2 {
  font-weight: bold;
  color: #ffffff;
  font-size: 2.3em;
}

.nosotros .ubicacion {
  background: linear-gradient(135deg, #222831, #393E46);
  color: #EEEEEE;
  padding: 60px 0;
}
.nosotros .ubicacion .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nosotros .ubicacion .container .row1 h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
}
.nosotros .ubicacion .container .row2 .mapa iframe {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nosotros .ubicacion .container .row2 .horarios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 350px;
}
.nosotros .ubicacion .container .row2 .horarios h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #f4f4f4;
  height: 70vh;
}
.contacto .container {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 40px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 15px;
  gap: 30px;
}
.contacto .container .column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contacto .container .column1 h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contacto .container .column1 ul {
  padding: 0;
  list-style: none;
}
.contacto .container .column1 ul li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 12px;
  line-height: 1.6;
}
.contacto .container .column2 {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 25px;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}
.contacto .container .column2:focus-within {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.3);
}
.contacto .container .column2 .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.contacto .container .column2 .btn {
  border: none;
  font-size: 1.1em;
  font-weight: 600;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  color: #ffffff;
  background-color: #5b9afa;
}
.contacto .container .column2 .btn:hover {
  background-color: #4b8ef3;
  transform: scale(1.01);
}

@media (max-width: 767px) {
  .contacto {
    height: auto;
    padding: 20px 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
}

/*# sourceMappingURL=styles.css.map */
