.navbar {
  background-color: #121212;
}
.navbar .container-fluid .nav-item .dropdown-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.navbar .container-fluid .nav-item:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
}
.navbar .container-fluid .navbar-brand {
  font-size: 1.4em;
  margin-left: 15px;
  color: #ffffff;
}
.navbar .container-fluid .navbar-nav {
  margin-right: 20px;
}
.navbar .container-fluid .navbar-nav .nav-link {
  padding: 15px;
  color: #ffffff;
}
.navbar .container-fluid .navbar-nav .nav-link:hover {
  background-color: #252525;
}
.navbar .container-fluid .dropdown-menu {
  background-color: #121212;
  border: none;
}
.navbar .container-fluid .dropdown-menu .dropdown-item {
  color: #ffffff;
  margin-bottom: 10px;
}
.navbar .container-fluid .dropdown-menu .dropdown-item:hover {
  background-color: #252525;
}
.navbar .container-fluid .buscador .btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 4px 10px;
  height: 37px;
  font-size: 14px;
}

#hero .c-item {
  height: 550px;
  width: 100%;
}
#hero .c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
#hero .carousel-caption h1 {
  margin-top: 100px;
}
#hero .carousel-caption .btn {
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  background-color: #7fb3ff;
}
#hero .carousel-caption .btn:hover {
  background-color: #4b8ef3;
}

.recien-llegados {
  background-color: rgb(245, 245, 245);
  padding: 40px 0;
}
.recien-llegados .container .card-img-top {
  object-fit: cover;
  max-height: 220px;
}
.recien-llegados .container .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.recien-llegados .container .card-body .btn {
  border: none;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5b9afa;
}
.recien-llegados .container .card-body .btn:hover {
  background-color: #4b8ef3;
}
.recien-llegados .container .rec-lleg {
  background-color: rgb(245, 245, 245);
}

.collecciones .colleccion {
  min-height: 600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collecciones .colleccion .btn {
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  background-color: #7fb3ff;
}
.collecciones .colleccion .btn:hover {
  background-color: #4b8ef3;
}
.collecciones .colleccion h1 {
  font-size: 3em;
  font-weight: bold;
}
.collecciones .colleccion:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/coleccion1.png);
}
.collecciones .colleccion:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/coleccion2.jpg);
}
.collecciones .colleccion:last-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/coleccion3.png);
}

.sec-info {
  width: 100%;
  padding: 40px 0;
  background-color: rgb(245, 245, 245);
}
.sec-info .info .informacion {
  margin-top: 30px;
}
.sec-info .info .informacion img {
  width: 100px;
}
.sec-info .info .informacion p {
  font-weight: bold;
}

.footer {
  background-color: #121212;
  color: #ffffff;
}
.footer .fila1 .col-footer1 img {
  width: 43px;
}
.footer .fila1 .col-footer2 h4 {
  font-size: 1.6em;
  margin-bottom: 10px;
}
.footer .fila1 .col-footer2 .img-footer2 a {
  text-decoration: none;
}
.footer .fila1 .col-footer2 .img-footer2 a img {
  margin-left: 5px;
  width: 40px;
}
.footer .fila1 .col-footer2 .img-footer2 :nth-child(2) img {
  width: 34px;
}
.footer .fila2 {
  background-color: black;
}

.titulo {
  background-color: #3a3a3a;
}
.titulo h1 {
  font-size: 2em;
  padding: 25px;
  color: #ffffff;
  margin-left: 50px;
  margin-bottom: 0;
}

.shop {
  background-color: rgb(245, 245, 245);
  padding: 40px 0;
}
.shop .productos .card .card-img-top {
  object-fit: cover;
  max-height: 220px;
}
.shop .productos .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.shop .productos .card .card-body .btn {
  border: none;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5b9afa;
}
.shop .productos .card .card-body .btn:hover {
  background-color: #4b8ef3;
}

.shop .filtros h4 {
  font-size: 1em;
  font-weight: bold;
}
.shop .filtros .precios {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}
.shop .filtros .form-check {
  margin-bottom: 15px;
}
.shop .filtros .form-check .form-check-label {
  font-size: 1em;
}
.shop .filtros .btn {
  border: none;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5b9afa;
}
.shop .filtros .btn:hover {
  background-color: #4b8ef3;
}
.nosotros .historia {
  padding: 100px 0;
}
.nosotros .historia img {
  width: 500px;
}
.nosotros .historia .texto {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nosotros .historia .texto h2 {
  font-weight: bold;
  font-size: 2.1em;
}
.nosotros .historia .texto p {
  font-size: 1.1em;
}

.nosotros .equipo {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/equipo.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotros .equipo h2 {
  font-weight: bold;
  color: #ffffff;
  font-size: 2.3em;
}

/*# sourceMappingURL=styles.css.map */
